body{
  background-color: #1A0B2E;
  max-width:1600px;
  margin:0 auto;
}

*{
   font-family: "Inter", sans-serif;
   margin:0px;
   padding: 0px;
}


.btn1{
  padding:12px 16px;
  font-weight:600;
  color:white;
  border-radius:1000px;
  background: linear-gradient(30deg, #F7E93F 14%, #FB09B4 51%, #9100F8 100%);
  border:none;
  cursor:pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

}

.options a{
  color:rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.options ul{
  list-style: none;
  display: flex;
  width:218px;
  justify-content: space-between;
  
}


header nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:16px 200px;
  border-bottom:1px solid #412567;
 
  
}



header{
  
}
